*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
scroll-behavior:smooth;
}

body{
background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
min-height:100vh;
color:white;
display:flex;
justify-content:center;
align-items:center;
}

/* GLASS EFFECT */
.glass{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(14px);
border:1px solid rgba(255,255,255,0.15);
border-radius:20px;
box-shadow:0 0 40px rgba(0,255,255,0.15);
}

/* LOGIN */
#loginBox{
position:absolute;
padding:15px;
text-align:center;
width:350px;
}
#loginBox input{
width:100%;
padding:12px;
margin:8px 0;
border:none;
border-radius:10px;
outline:none;
}
#loginBox button{
padding:12px;
width:100%;
border:none;
border-radius:10px;
background:#00f5ff;
cursor:pointer;
font-weight:bold;
}

/* APP LAYOUT */
#app{
display:none;
width:95%;
max-width:1200px;
height:90vh;
display:flex;
}

/* SIDEBAR */
.sidebar{
width:240px;
padding:30px;
display:flex;
flex-direction:column;
gap:15px;
}
.sidebar a{
text-decoration:none;
color:white;
padding:10px;
border-radius:10px;
transition:.3s;
}
.sidebar a:hover{
background:#00f5ff;
color:black;
}
.logout{
margin-top:auto;
padding:10px;
border:none;
border-radius:10px;
background:#ff4b5c;
color:white;
cursor:pointer;
}

/* MAIN */
main{
flex:1;
padding:40px;
overflow-y:auto;
}

.hero{
text-align:center;
margin-bottom:50px;
}
.profile{
width:200px;
height:200px;
border-radius:50%;
border:3px solid rgb(0, 255, 30);
margin-bottom:15px;
}

/* PROJECTS */
.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
}
.card{
background:rgba(255,255,255,0.06);
padding:10px;
border-radius:15px;
text-align:center;
transition:.3s;
}
.card:hover{
transform:scale(1.05);
}
.card img{
width:100%;
border-radius:10px;
cursor:pointer;
}

/* CONTACT */
.contact{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}
form input,form textarea{
width:100%;
padding:10px;
margin-bottom:10px;
border:none;
border-radius:8px;
}
form button{
padding:10px;
border:none;
background:#00f5ff;
border-radius:8px;
cursor:pointer;
}

/* MODAL */
#modal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}
#modal img{
max-width:80%;
border-radius:20px;
}